body {
  background-color: #0a192f;
  font-family: "Noto Sans", sans-serif;
}

/*Navigation*/
.topnav {
  overflow: hidden;
  background-color: #0a192f;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

#myTopnav {
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.topnav a {
  color: #DCE2F0;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline;
  padding-right: 2.5%;
}

.topnav a:hover {
  color: #AACCFF;
}

.topnav a.active {
  background-color: #64ffda;
  color: white;
}

.topnav .icon {
  display: none;
  padding: 35px;
}

@media screen and (max-width: 604px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    margin-left: auto;
    margin-right: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: center;
  }
  .topnav {
    text-align: left;
    padding-top: 25px;
  }
  #resume {
    padding-bottom: 750px;
  }
}

/*Page Content*/
/*First Section*/
#topSection {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 10px;
}

#scroll {
  position: absolute;
  bottom: 0;
  padding: 0 0 5% 0;
}

#scroll i {
  font-size: 48px;
}

/*About & Skills Sections*/
#about {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 200px;
  min-height: 50vh;
}

#myPhoto {
  padding: 40px;
  width: 350px;
  height: 350px;
  margin: auto;
}

#skills {
  text-align: center;
  padding-top: 200px;
  min-height: 50vh;
}

#skills p {
  color: #DCE2F0;
}

#skills h2 {
  padding: 50px;
}

/*Portfolio Images and Modal card*/
#portfolio {
  text-align: center;
  padding-top: 200px;
  min-height: 50vh;
}

#card {
  width: 350px;
  height: 225px;
  padding: 5%;
  cursor: pointer;
}

#modalCard {
  width: 350px;
  height: 225px;
  padding: 5%;
  cursor: auto;
}

.modal-title {
  color: #DCE2F0;
}

.modal-content {
  background-color: #0a192f;
  color: #DCE2F0;
}

.modal-footer button {
  background-color: #0a192f;
  border-color: #64ffda;
  color: #64ffda;
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  opacity: 1.0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-footer button a {
  color: #64ffda;
  text-decoration: none;
}

/*Github and Linkenin Icons*/
#socialMediaIcons {
  color: #DCE2F0;
}

#socialMediaIcons i {
  padding: 10px;
}

/*Contact Form*/
#contact {
  width: 500px;
  margin: auto;
  padding-top: 100px;
}

form {
  background-color: #0a192f;
  margin: auto;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

form legend {
  font-size: larger;
  text-align: center;
}

label {
  color: #DCE2F0;
  font-family: 'Noto Sans', sans-serif;
}

input[type="text"], input[type="email"], textarea, select {
  background-color: #DCE2F0;
  color: #000;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: 0 !important;
  font-family: 'Noto Sans', sans-serif;
}

input[type="submit"], input[type="reset"] {
  background-color: #0a192f;
  border-color: #64ffda;
  color: #64ffda;
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  opacity: 1.0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  opacity: 0.7;
}

a:link {
  color: #DCE2F0;
}

a:visited {
  color: #DCE2F0;
}

/*Footer*/
footer {
  text-align: center;
  color: #DCE2F0;
  padding-top: 100px;
}

/*Media Queires for Page Content*/
@media screen and (max-width: 500px) {
  #topSection h2 {
    font-size: 4vh;
  }
  #about {
    width: 90%;
  }
  #card {
    width: 300px;
    height: 200px;
    margin: auto;
  }
  #contact {
    width: 90%;
  }
  input[type="submit"], input[type="reset"] {
    font-size: 14px;
  }
  #modalCard {
    margin: auto;
  }
  #topSection h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  #card {
    width: 200px;
    height: 100px;
    padding: none;
  }
  #myPhoto {
    width: 100%;
    height: 100%;
    padding: none;
  }
}
